*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Momo Signature";
    color: white;
    color:cornflowerblue;
}
body{
    background-image: url(./images/anime-girl-playing-drums-kimono.jpg);
    background-size: cover;
    height: 80vh;
    width: 100vw;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 70px;
}
h1{
    margin: 31px 50px 0 0;
}
/* set - buttons  */
.set{
    display: flex;
    gap: 40px;
    /* background-color: blueviolet; */
    flex-wrap: wrap;
    margin-right: 200px;
    height: 400px;
    width: 300px;
}
.set .drum{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 800;
    font-size: 30px;
    border: 1px solid white;
}
.W{
    background-image: url(./images/tom1.png);
    height: 100%;
    width: 100%;
  
}
.A{
    background-image: url(./images/tom2.png);
    object-fit: cover;
}
.S{
    background-image: url(./images/tom3.png);
}
.D{
    background-image: url(./images/tom4.png);
}

.J{
    background-image: url(./images/snare.png);
}
.K{
    background-image: url(./images/crash.png);
    object-fit: cover;
}

.L{
    background-image: url(./images/kick.png);
    object-fit: cover;
}
.q.drum{
    font-size: 10px;
}
.drum.devspc{
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;

}

.press{
    box-shadow: 0 3px 4px 0 #dbedef;
    opacity: 0.5;
}
